
h1 {
    color: blue;
    text-align: center;
  }

  article {
    border: rgba(189, 189, 237) 10px dotted;
    text-align: center;
    border-image: url('images/coffee.jpg') 40 round;
    font-size: 40px;
  }

  h2{
    text-align: center;
  }

  #margin-padding {
    padding: 50px;
    text-align: center;
    border: rgba(189, 189, 237) 3px dotted;
    background-color: rgb(146, 205, 102);
    font-size: 40px;
    margin: 5%;
  }
  
  .button {
    color: rgb(164, 15, 15);
    background-color: blue;
    border-radius: 3px;
    font-size: 30px;
    border:none;
    margin-left: 100px;
    cursor: pointer;
    text-align: center;
    margin-left: 250px;
  }

  .c-site-header {
    text-decoration: none;
    font-size: 25px;
    background-color: cyan;
  }

  ul li{
    display: inline;
    margin: 1% 3%;
  }

  a:hover {
    color: chartreuse;
  }

  a:visited {
    color:rgb(242, 31, 143)
  }

  .nav-list {
    list-style-type: none;
    display: inline;
  }

  header {
    position: relative;
  }

  #home-button {
    background-color: blueviolet;
    font-size: 20px;
    position: fixed;
    z-index: 10;
    margin: 1% 0% 0% 70%;
  }

  #a {
    font-size: 5rem;
  }

  #b {
    font-size: 5em;
  }

  #c {
    font-size: 5vh;
  }

  #d {
    font-size: 5vw;
  }

  #e {
    font-size: 5px;
  }

  #f {
    font-size: 5%;
  }